@use 'vars' as var;

.catalog-page {
  .catalog-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 32px;
    gap: 32px;
  }

  .filter {
    color: var.$gray-shade;

    &__title {
      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
      color: var.$black;
    }

    &__fieldset {
      &:first-of-type {
        margin-top: 20px;
      }

      margin-top: 30px;
    }

    &__category {
      &-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
      }
    }

    &__label {
      display: flex;
      margin-top: 11px;

      font-weight: 400;
      font-size: 16px;
      line-height: 130%;

      &:first-of-type {
        margin-top: 9px;
      }
    }

    &__checkbox {
      margin-right: 18px;
      transform: scale(1.6) translateX(2px);
    }

    &__price-inputs-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-grow: 1;
    }

    &__price-input {
      max-width: 86px;
      margin-left: 9px;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      padding-left: 10px;
    }

    &__price-slider {
      margin-top: 10px;

      &.noUi-horizontal {
        height: 4px;
      }

      .noUi-connect {
        background: var.$primary;
      }

      .noUi-handle {
        transform: translateY(3px);
        border: 0;
        background: 0;
        box-shadow: none;

        &::before {
          // this is triangle
          width: 0;
          height: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          background-color: transparent;

          transform: translateX(-4px);

          border-bottom: 13px solid var.$primary;

          border-radius: 3px;
        }

        &::after {
          display: none;
        }
      }
    }
  }

  .title {
    display: none;
  }

  .catalog {
    grid-column: span 3;

    &__items {
      margin-top: 24px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  }

  .promo {
    margin-top: 90px;
    background-color: var.$black;

    border-radius: 10px;

    &__img {
      object-fit: cover;

      min-height: 190px;

      border-radius: 10px 10px 0 0;
    }

    &__title {
      color: var.$gray;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
    }

    &__accent {
      font-size: 24px;
      line-height: 32px;
    }

    .arrow-btn {
      margin-top: 10px;

      display: flex;
      align-items: center;

      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
      color: var.$primary;

      svg {
        margin-left: 5px;
        width: 22px;
        height: 22px;
        transform: translateY(10%);
      }
    }

    &__info {
      padding: 28px 30px 32px;
    }
  }

  .rated {
    min-height: 420px;
    justify-content: space-between;

    &__title {
      margin-top: 4px;
    }

    &__img {
      margin-top: 25px;
    }
  }

  .filter-top {
    display: none;
  }

  .catalog-pagination {
    grid-column: 2 / 5;
    display: flex;
    justify-content: center;

    &__btn {
      padding: 6px 10px;
      border-radius: 10px;
      border: 2px solid var.$primary;
      color: var.$primary;

      &_active {
        border-color: var.$primary-shade;
        background-color: var.$primary-shade;
        color: white;
      }

      &:not(:first-child) {
        margin-left: 16px;
      }
    }
  }
}

@media screen and (max-width: 1340px) {
  .catalog-page {
    .catalog-wrapper {
      row-gap: 0;
    }

    .catalog {
      grid-column: span 4;

      &__title {
        display: none;
      }
    }

    .title {
      grid-column: span 4;

      display: block;

      font-weight: 400;
      font-size: 24px;
      line-height: 130%;
    }

    .filter-top {
      grid-column: span 4;

      margin-top: 18px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      &__title {
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
      }

      &__select {
        padding: 9px 15px;
        min-width: 187px;

        color: var.$black;
        background-color: var.$gray-light;

        font-weight: 400;
        font-size: 16px;
        line-height: 22px;

        border-radius: 10px;
        border: 0;

        &:not(:first-child) {
          margin-left: 32px;
        }
      }
    }

    .aside {
      display: none;
    }

    .catalog__items {
      margin-top: 31px;
    }

    .catalog-pagination {
      grid-column: span 4;
      margin-top: 35px;
    }
  }
}

@media screen and (max-width: 999px) {
  .catalog-page {
    .bread-crumbs {
      margin-top: 19px;
    }

    .catalog__items {
      grid-template-columns: 1fr 1fr;
    }

    .filter-top {
      margin-top: 26px;

      flex-direction: column;
      align-items: flex-start;

      &__container {
        margin-top: 19px;
      }

      &__select:not(:first-child) {
        margin-left: 24px;
      }
    }

    .card:nth-child(n + 6) {
      display: none;
    }
  }
}

@media screen and (max-width: 999px) {
  .catalog-page {
    .bread-crumbs {
      margin-top: 19px;
    }

    .catalog__items {
      grid-template-columns: 1fr 1fr;
    }

    .filter-top {
      margin-top: 26px;

      flex-direction: column;
      align-items: flex-start;

      &__container {
        margin-top: 19px;
      }

      &__select:not(:first-child) {
        margin-left: 24px;
      }
    }

    .card:nth-child(n + 6) {
      display: none;
    }
  }
}

@media screen and (max-width: 720px) {
  .catalog-page {
    .bread-crumbs {
      display: none;
    }

    .filter-top {
      margin-top: 16px;

      &__container {
        display: flex;
        justify-content: space-between;

        width: 100%;
      }

      &__select {
        min-width: 140px;

        &:not(:first-child) {
          // margin-left: 16px;
          margin-left: 0;
        }
      }
    }

    .catalog__items {
      gap: 16px;
    }

    .rated {
      min-height: 278px;
    }

    .card:nth-child(6) {
      display: flex;
    }

    .catalog-pagination {
      margin-top: 32px;
    }
  }
}
