@use 'vars' as var;

.catalog-page {
  .catalog-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 32px;
    gap: 30px;
  }

  .bread-crumbs {
    margin-top: 23px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: var.$gray;
  }

  .filter {
    color: var.$gray-shade;

    &__title {
      margin-top: 20px;

      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
      color: var.$black;
    }

    &__fieldset {
      margin-top: 26px;
    }

    &__category {
      &-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        // margin-top: 20px;
      }
    }

    &__label {
      display: flex;
      margin-top: 11px;

      &:first-of-type {
        margin-top: 9px;
      }
    }

    &__checkbox {
      margin-right: 12px;
    }

    &__price-inputs-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-grow: 1;
    }

    &__price-input {
      max-width: 86px;
      margin-left: 9px;
    }

    &__price-slider {
      margin-top: 12px;

      &.noUi-horizontal {
        height: 7px;
      }

      .noUi-connect {
        background: var.$primary;
      }

      .noUi-handle {
        transform: translateY(3px);
        border: 0;
        background: 0;
        box-shadow: none;

        &::before {
          // this is triangle
          width: 0;
          height: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          background-color: transparent;

          transform: translateX(-4px);

          border-bottom: 13px solid var.$primary;

          border-radius: 3px;
        }

        &::after {
          display: none;
        }
      }
    }
  }

  .catalog {
    &__title {
      font-weight: 400;
      font-size: 24px;
      line-height: 130%;
    }

    &__items {
      margin-top: 24px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  }

  .promo {
    margin-top: 90px;
    background-color: var.$black;

    &__img {
      object-fit: cover;

      min-height: 190px;
    }

    &__title {
      color: var.$gray;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
    }

    &__accent {
      font-size: 24px;
      line-height: 32px;
    }

    .arrow-btn {
      margin-top: 27px;

      display: flex;
      align-items: center;

      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
      color: var.$primary;

      svg {
        margin-left: 5px;
        width: 22px;
        height: 22px;
        transform: translateY(10%);
      }
    }
  }
}
