@use 'vars' as var;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  margin: auto;
}

body,
input {
  font-family: 'Open Sans', sans-serif;
  color: var.$black;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: 0;
  border: 0;
  cursor: pointer;
}

fieldset {
  border: 0;
}

img {
  width: 100%;
}
