@use 'globals';
@use 'vars' as var;

.container {
  max-width: 1280px;
  margin: auto;
}

// Header
.header-decoration {
  height: 50px;
  width: 100vw;
  background-color: var.$gray-light;
  position: absolute;
  z-index: -1;
  top: 0;
}

.burger {
  width: 24px;
  height: 24px;
  background-image: url(../img/ui/burger.svg);
  display: none;
}

.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;

  display: flex;
  align-items: center;
}

.select {
  appearance: none;
  cursor: pointer;
  border: 0;
  color: var.$primary;
  background: no-repeat right url(../img/ui/select-arrow.svg);
}

.region {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding-right: 20px;
}

.telephone {
  margin-left: 30px;
  color: var.$secondary;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-left: 22px;
  background: no-repeat left / contain url(../img/ui/tel.svg);
}

.search-form {
  position: relative;

  height: 100%;

  display: flex;

  .search-icon {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-41%);
  }

  &__input-wrapper {
    position: relative;
  }

  &__search-query {
    width: 761px;
    height: 100%;

    padding: 18px 32px 18px 59px;

    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    border: 0;
    border-radius: 10px 0 0 10px;
    background-color: var.$gray-light;

    &::placeholder {
      color: var.$gray;
    }

    &:focus-visible + .search-icon {
      svg path {
        fill: var.$primary;
      }
    }
  }

  &__submit {
    width: 32px;
    height: 32px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 32px;

    border: 0;
    background: 0;
    background-image: url(../img/ui/arrow-btn.svg);

    cursor: pointer;
  }

  &__category {
    width: 300px;
    padding: 19px 40px 15px 31px;
    background-position: center right 32px;
    border: 2px solid var.$gray-light;
    border-radius: 0 10px 10px 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
}

.user {
  &-links-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &-profile-link {
    width: 28px;
    height: 28px;
    background: url(../img/ui/user-default.svg) no-repeat center;
  }

  &-cart-link {
    margin-left: 32px;

    width: 41px;
    height: 28px;
    background: url(../img/ui/cart-default.svg) no-repeat right;
  }
}

.info-nav {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__links {
    display: flex;
    justify-content: flex-end;
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: var.$gray;

    &-wrapper:not(:first-child) {
      margin-left: 64px;
    }
  }
}

.nav {
  &__links {
    display: flex;
    justify-content: flex-end;
  }

  &__link-wrapper {
    margin-left: 92px;
  }

  &__link {
    color: var.$black;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
}

.header {
  position: relative;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 50px 27px 60px;
  grid-template-areas:
    'contacts contacts info   info   info   info'
    'logo     nav      nav    nav    nav    nav'
    'search   search   search search search user';
  align-items: center;
  gap: 32px;

  .contacts {
    grid-area: contacts;
  }

  .burger {
    grid-area: burger;
  }

  .info-nav {
    grid-area: info;
  }

  .logo-wrapper {
    grid-area: logo;
  }

  .nav {
    grid-area: nav;
  }

  .search-form {
    grid-area: search;
  }

  .user-links-wrapper {
    grid-area: user;
  }
}

.primary-btn {
  background-color: var.$primary;
  color: white;

  padding: 22px 50px;
  display: block;
  max-width: max-content;

  border-radius: 10px;
  border: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  cursor: pointer;
}

.secondary-btn {
  display: block;
  max-width: max-content;
  padding: 17px 33px;
  border: 2px solid var.$primary;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: var.$primary;
  cursor: pointer;
}

.jumbotron {
  margin-top: 32px;

  &__slide {
    background-image: url(../img/mock/jumbo/jumbo-1920-sofa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
  }

  &__title {
    max-width: 496px;

    font-weight: 700;
    font-size: 48px;
    line-height: 65px;

    color: var.$gray;
  }

  .primary-btn {
    margin-top: 51px;
  }
}

.controls {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  &__back,
  &__next {
    &:disabled svg * {
      stroke: gray;
    }
  }

  &__back svg {
    transform: rotate(180deg);
  }

  &__next {
    margin-left: 12px;
  }
}

.offers {
  margin-top: 70px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas:
    'title controls'
    'list list';

  &__title {
    grid-area: title;
    margin-bottom: 26px;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
  }

  &__controls {
    grid-area: controls;
  }

  &__list {
    grid-area: list;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;

    .offer:nth-child(2) {
      grid-column: span 2;

      .offer__img {
        transform: scale(1.1) translateY(-10px);
      }
    }
  }
}

.card {
  background-color: var.$gray-light;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.offer {
  $padding: 30px;

  padding: $padding;

  &__discount {
    padding: 7px 29px 7px 19px;
    background: center / contain no-repeat url(../img/ui/special-price-bg.svg);
    max-width: max-content;
    transform: translateX(-$padding);
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: white;
  }

  &__img {
    height: 218px;
    object-fit: contain;
  }

  &__info {
    margin-top: 16px;
    max-width: 225px;
  }

  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
  }

  &__price-container {
    display: flex;

    margin-top: 22px;
  }

  &__price {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: var.$secondary;

    &_before {
      margin-left: 30px;
      text-decoration: line-through;
      color: var.$gray;
      font-size: 16px;
      line-height: 130%;
    }
  }

  &__link {
    margin-top: 22px;
  }
}

.rated-section {
  margin-top: 70px;

  &__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
  }

  &__list {
    margin-top: 26px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 32px;
  }

  &__load-more {
    margin: 34px auto 0;
  }

  .primary-btn {
    padding: 22px 42px;
  }
}

.rated {
  padding: 30px;

  &__descr {
    display: flex;
    flex-direction: column;
  }

  &__rating {
    padding-left: 22px;
    background: no-repeat left center url(../img/ui/star.svg);

    font-weight: 400;
    font-size: 16px;
    line-height: 130%;

    color: var.$secondary;
  }

  &__img {
    margin-top: 22px;
    width: 110%;
    height: 130px;
    object-fit: contain;
    align-self: center;
  }

  &__title {
    // margin-top: 5px;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
  }

  &__price {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var.$gray-shade;
  }

  .secondary-btn {
    margin-top: 24px;
  }
}

.banner {
  margin-top: 69px;
  padding: 154px 0 152px;

  background-image: url(../img/mock/banner/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  .primary-btn {
    padding: 22px 33px;
  }

  &__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    max-width: 508px;
    color: white;
  }

  &__accent {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 120%;
    color: #d5b986;
  }

  .primary-btn {
    margin-top: 49px;
  }
}

.categories {
  margin-top: 70px;

  &__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
  }

  &__list {
    margin-top: 26px;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto;
    gap: 32px;
  }
}

.category {
  $padding-sides: 30px;

  padding: 25px $padding-sides 30px;

  justify-content: space-between;

  &__img {
    transform: translateX(-$padding-sides);
    margin-top: 30px;

    width: 100%;
    max-width: 92%;
    max-height: 202px;
    object-fit: contain;
    object-position: left;
  }

  &:nth-child(-n + 2) .category__img {
    max-height: 302px;
  }

  &:nth-child(-n + 2) {
    grid-column: span 3;
  }

  &:nth-child(n + 3) {
    grid-column: span 2;
  }

  &__sub-categories-list {
    display: flex;
  }

  &__sub-category-item {
    &:not(:first-child) {
      margin-left: 30px;
    }
  }

  &__sub-category-link {
    color: var.$gray;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
  }

  &__title {
    margin-top: 14px;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
  }

  .arrow-btn {
    margin-top: 27px;

    display: flex;
    align-items: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: var.$primary;

    svg {
      margin-left: 5px;
      width: 22px;
      height: 22px;
      transform: translateY(10%);
    }
  }

  &__arrow-link {
    display: none;
    transform: translateY(20%);
  }
}

.advice-section {
  margin-top: 67px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    'title controls'
    'list list';

  &__title {
    grid-area: title;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
  }

  &__controls {
    grid-area: controls;
    justify-self: end;
  }

  &__list {
    grid-area: list;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    margin-top: 22px;
  }
}

.advice {
  &__info {
    padding: 32px 30px 29px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
  }

  &__img {
    width: 100%;
  }

  &:nth-child(n + 3) {
    display: none;
  }
}

.contact {
  margin-top: 71px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    margin-top: 30px;
    padding: 7px 18px;

    border: 0;
    border-radius: 10px;

    background-color: var.$gray-light;

    font-weight: 400;
    font-size: 16px;
    line-height: 40px;

    &:first-of-type {
      margin-top: 16px;
    }

    &::placeholder {
      color: var.$gray;
    }
  }

  &__user-agree {
    margin-top: 12px;
    font-size: 14px;
    line-height: 19px;

    input {
      margin-right: 5px;
    }

    a {
      color: var.$primary;
      text-decoration: underline;
    }
  }

  .primary-btn {
    margin-top: 29px;
    padding: 19px 34px;
  }

  &__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
  }

  &__subtitle {
    margin-top: 9px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var.$gray-shade;
  }

  &__decoration {
    background: no-repeat center / contain
      url(../img/decoration/form-decoration.png);
  }
}

.footer {
  background-color: #eaeaea;
  padding: 24px 0 16px;
  margin-top: 70px;

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__social-links {
    margin-top: 26px;

    display: flex;
  }

  &__social-link-wrapper:not(:first-child) {
    margin-left: 20px;
  }

  &__nav {
    display: flex;
  }

  &__links:not(:first-child) {
    margin-left: 130px;
  }

  &__links:nth-child(2),
  &__links:nth-child(3) {
    transform: translateX(-20px);
  }

  &__link-wrapper:first-child &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: var.$black;
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: var.$gray;
  }
}

.copyright {
  padding: 6px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var.$gray;
}

// Styles used starting from the catagol page
.catalog-page {
  .bread-crumbs {
    margin-top: 23px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: var.$gray;
  }

  .filter {
    color: var.$gray-shade;

    &__title {
      margin-top: 20px;

      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
      color: var.$black;
    }

    &__fieldset {
      margin-top: 26px;
    }

    &__category {
      &-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        // margin-top: 20px;
      }
    }

    &__label {
      display: flex;
      margin-top: 11px;

      &:first-of-type {
        margin-top: 9px;
      }
    }

    &__checkbox {
      margin-right: 12px;
    }
  }

  .filter__price-inputs-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-grow: 1;
  }

  .filter__price-input {
    max-width: 86px;
    margin-left: 9px;
  }

  .filter__price-slider {
    margin-top: 12px;

    &.noUi-horizontal {
      height: 7px;
    }

    .noUi-connect {
      background: var.$primary;
    }

    .noUi-handle {
      transform: translateY(3px);
      border: 0;
      background: 0;
      box-shadow: none;

      &::before {
        // this is triangle
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        background-color: transparent;

        transform: translateX(-4px);

        border-bottom: 13px solid var.$primary;

        border-radius: 3px;
      }

      &::after {
        display: none;
      }
    }
  }

  .catalog-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 32px;
    gap: 30px;
  }

  .catalog {
    grid-column: span 3;

    &__title {
      font-weight: 400;
      font-size: 24px;
      line-height: 130%;
    }

    &__items {
      margin-top: 24px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  }
}
