@media screen and (max-width: 1340px) {
  .header-decoration {
    top: 58px;
  }

  .container {
    max-width: 951px;
  }

  .contacts {
    justify-content: space-between;
    padding: 18px 0;
  }

  .info-nav {
    padding: 18px 0;
    justify-content: flex-start;
  }

  .nav {
    padding: 32px 0;

    &__link-wrapper {
      margin-left: 42px;
    }
  }

  .header {
    grid-template-columns: 200px repeat(2, 1fr) 150px;
    grid-template-rows: repeat(4, auto);
    gap: 0;
    grid-template-areas:
      'contacts contacts contacts contacts'
      'info info info user'
      'logo nav nav nav'
      'search search search search';
  }

  .search-form {
    &__search-query {
      width: 652px;
    }
  }

  .offers__list {
    grid-template-columns: repeat(3, 1fr);

    .offer:nth-child(2) {
      grid-column: span 1;

      .offer__img {
        transform: none;
      }
    }
  }

  .offer {
    &__img {
      height: auto;
      max-height: 218px;
      max-width: 254px;
      width: 100%;
    }

    &.card {
      justify-content: space-between;
    }
  }

  .rated-section__list {
    grid-template-columns: repeat(3, 1fr);

    .card:nth-child(n + 7) {
      display: none;
    }
  }

  .categories {
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .category {
    overflow: hidden;

    &:nth-child(-n + 1) {
      grid-column: span 2;
    }

    // nth-child to overwrite prev size where first to cards have to be bigger
    &__img:nth-child(n) {
      max-height: 296px;
      max-width: none;
      width: 200%;
    }

    &:nth-child(n + 2) {
      grid-column: span 1;

      .category__img {
        transform: translateX(-30%);
      }
    }

    .arrow-btn {
      margin-top: 32px;
    }
  }
  .advice-section__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .advice {
    &__title {
      font-size: 16px;
      line-height: 22px;
    }

    &:nth-child(n + 3) {
      display: flex;
    }
  }

  .contact {
    grid-template-columns: repeat(9, 1fr);

    .primary-btn {
      margin-top: 31px;
    }

    &__form {
      grid-column: span 4;
    }

    &__decoration {
      grid-column: span 5;
    }
  }

  .footer {
    padding-bottom: 20px;
    .container {
      justify-content: space-between;
    }

    &__nav {
      max-width: 733px;
      justify-content: space-between;
      flex-grow: 1;
    }

    &__links:not(:first-child) {
      margin-left: 0;
    }

    &__link-wrapper:not(:first-child) {
      margin-top: 1px;
    }
  }
}

@media screen and (max-width: 999px) {
  .container {
    max-width: 624px;
  }

  .burger {
    display: block;
  }

  .search-form {
    &__search-query {
      width: 435px;
    }
  }

  .logo-wrapper {
    padding: 28px 0;
    transform: translateX(10px);
  }

  .header {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'contacts contacts contacts'
      'info info info'
      'burger logo user'
      'search   search   search';

    .nav {
      display: none;
    }

    .info-nav {
      &__links {
        justify-content: space-between;
        flex-grow: 1;
      }

      &__link-wrapper:not(:first-child) {
        margin-left: 0;
      }
    }
  }

  .jumbotron__slide {
    background-image: url(../img/mock/jumbo/jumbo-768.jpg);
    background-position: bottom;
  }

  .offers {
    grid-template-columns: 1fr 150px;
  }

  .offers__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .offer:nth-child(n + 3) {
    display: none;
  }

  .rated-section__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .banner .container {
    transform: translateX(-36px);
  }

  .categories__list {
    grid-template-columns: repeat(2, 1fr);

    .category:first-child {
      grid-column: span 2;
    }
  }

  .advice-section {
    margin-top: 74px;
  }

  .advice-section__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .advice:nth-child(n + 3) {
    display: none;
  }

  .contact {
    grid-template-columns: repeat(3, 1fr);

    .primary-btn {
      margin-top: 29px;
    }

    &__form {
      grid-column: span 2;
    }

    &__decoration {
      grid-column: span 1;
      background-size: cover;
      background-position: left;
    }
  }

  .footer {
    padding-top: 26px;

    .container {
      flex-direction: column;
    }

    &__icons {
      display: flex;
      justify-content: space-between;
    }

    &__social-links {
      margin: 0;
    }

    &__nav {
      margin-top: 18px;
    }
  }
}

@media screen and (max-width: 720px) {
  .header-decoration {
    top: 0;
  }

  .container {
    padding: 0 12px;
    min-width: 300px;
  }

  .logo-wrapper {
    transform: none;
    padding: 12px 0;
    display: flex;
    justify-content: center;
  }

  .search-form {
    margin-top: 29px;
    flex-direction: column;
    height: auto;

    &__search-query {
      width: 100%;
      border-radius: 10px;
    }

    &__category {
      margin-top: 16px;
      width: 100%;
      border-radius: 10px;
    }
  }

  .contacts {
    flex-direction: column;
    align-items: flex-start;
    padding: 13px 0 29px;
  }

  .telephone {
    margin: 20px 0 0;
  }

  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      'logo logo'
      'contacts contacts'
      'burger user'
      'search search';
  }

  .info-nav {
    display: none;
  }

  .jumbotron {
    &__slide {
      height: 210px;
      position: relative;

      padding: 30px 17px;

      .primary-btn {
        margin: 0;
        padding: 22px 105px;

        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -93px;
      }
    }

    &__title {
      font-size: 20px;
      line-height: 27px;
      max-width: 204px;
    }
  }

  .offers {
    margin-top: 163px;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      'title'
      'list'
      'controls';

    &__list {
      grid-template-columns: 1fr;
    }

    &__controls {
      justify-content: center;
      margin-top: 16px;
    }

    &__title {
      font-size: 24px;
      line-height: 100%;
    }
  }

  .offer:nth-child(2) {
    display: none;
  }

  .rated-section__title {
    font-size: 24px;
    line-height: 100%;
  }

  .rated-section {
    margin-top: 66px;

    &__list {
      gap: 16px;
    }
  }

  .rated {
    padding: 16px;
    min-height: 278px;

    &__img {
      height: auto;
      width: 100%;
      max-width: 108px;
    }

    &__title {
      font-size: 16px;
      line-height: 130%;
    }

    .secondary-btn {
      line-height: 130%;
      padding: 8px 22px;
      margin-top: 12px;
    }

    &__rating {
      transform: scale(0.8) translate(-12px, -2px);
    }
  }

  .banner {
    position: relative;
    padding: 30px 0 112px;
    margin-bottom: 92px;

    .container {
      transform: none;
    }

    .primary-btn {
      margin: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -92px;
    }

    &__title {
      font-size: 16px;
      line-height: 120%;
      max-width: 187px;
    }

    &__accent {
      font-size: 24px;
      line-height: 120%;
    }
  }

  .categories {
    margin-top: 166px;
  }

  .categories__list {
    column-gap: 16px;

    .category {
      .arrow-btn {
        display: none;
      }

      &__arrow-link {
        display: inline;
      }

      &:not(:first-child) {
        padding: 10px;

        .category__sub {
          &-categories-list {
            flex-direction: column;
          }

          &-category-item {
            margin-left: 0;
          }
        }

        .category__img {
          max-height: 104px;
          transform: translateX(-10px);
        }
      }

      &:first-child {
        .category__img {
          transform: translateX(-20%);
        }
      }
    }
  }

  .advice-section {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      'title'
      'list'
      'controls';

    &__list {
      grid-template-columns: 1fr;
    }

    &__controls {
      margin: 16px auto 0;
    }
  }

  .advice:nth-child(n + 2) {
    display: none;
  }

  .contact {
    grid-template-columns: 1fr;
    &__decoration {
      display: none;
    }
  }

  .footer {
    &__icons {
      flex-direction: column;
      align-items: center;
    }

    &__social-links {
      margin-top: 24px;
    }

    &__nav {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 24px;
    }
  }
}
