@media screen and (max-width: 1340px) {
  .container {
    max-width: 951px;
  }

  .contacts {
    justify-content: space-between;
    padding: 18px 0;
  }

  .header {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 0;
    grid-template-areas:
      'contacts contacts contacts contacts'
      'info info info user'
      'logo nav nav nav'
      'search search search search';

    .info-nav {
      padding: 18px 0;
    }

    .nav {
      padding: 34px 0;
      &__link-wrapper {
        margin-left: 37px;
      }
    }
  }

  .search-form {
    &__search-query {
      width: 652px;
    }

    &__submit {
      left: 588px;
    }
  }

  .offers__list {
    grid-template-columns: repeat(3, 1fr);

    .offer:nth-child(2) {
      grid-column: span 1;
    }
  }

  .offer {
    &__img {
      height: auto;
      max-height: 218px;
      max-width: 254px;
      width: 100%;
    }

    &.card {
      justify-content: space-between;
    }
  }

  .rated-section__list {
    grid-template-columns: repeat(3, 1fr);

    .card:nth-child(n + 7) {
      display: none;
    }
  }

  .categories {
    &__list {
      grid-template-columns: repeat(3, 1fr);

      .category {
        overflow: hidden;

        &:nth-child(-n + 1) {
          grid-column: span 2;
        }

        // nth-child to overwrite prev size where first to cards have to be bigger
        &__img:nth-child(n) {
          max-height: 296px;
          max-width: none;
          width: 200%;
        }

        &:nth-child(n + 2) {
          grid-column: span 1;

          .category__img {
            transform: translateX(-30%);
          }
        }
      }
    }
  }

  .advice-section__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .advice {
    &__title {
      font-size: 16px;
      line-height: 22px;
    }

    &:nth-child(n + 3) {
      display: flex;
    }
  }

  .contact {
    grid-template-columns: repeat(9, 1fr);

    &__form {
      grid-column: span 4;
    }

    &__decoration {
      grid-column: span 5;
    }
  }

  .footer {
    .container {
      justify-content: space-between;
    }
    .footer__nav {
      max-width: 715px;
      justify-content: space-between;
      flex-grow: 1;
    }

    .footer__links:not(:first-child) {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 999px) {
  .container {
    max-width: 624px;
  }

  .burger {
    display: block;
  }

  .search-form {
    &__search-query {
      width: 435px;
    }

    &__submit {
      left: 371px;
    }
  }

  .header {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'contacts contacts contacts'
      'info info info'
      'burger logo user'
      'search   search   search';

    .nav {
      display: none;
    }

    .logo-wrapper {
      padding: 32px 0;
    }

    .info-nav {
      &__links {
        justify-content: space-between;
        flex-grow: 1;
      }

      &__link-wrapper:not(:first-child) {
        margin-left: 0;
      }
    }
  }

  .jumbotron__slide {
    background-image: url(../img/mock/jumbo/jumbo-768.jpg);
    background-position: bottom;
  }

  .offers__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .offer:nth-child(n + 3) {
    display: none;
  }

  .rated-section__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .banner .container {
    transform: translateX(-36px);
  }

  .categories__list {
    grid-template-columns: repeat(2, 1fr);

    .category:first-child {
      grid-column: span 2;
    }
  }

  .advice-section__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .advice:nth-child(n + 3) {
    display: none;
  }

  .contact {
    grid-template-columns: repeat(3, 1fr);

    &__form {
      grid-column: span 2;
    }

    &__decoration {
      grid-column: span 1;
      background-size: cover;
      background-position: left;
    }
  }

  .footer {
    .container {
      flex-direction: column;
    }

    &__icons {
      display: flex;
      justify-content: space-between;
    }

    &__social-links {
      margin: 0;
    }

    &__nav {
      margin-top: 25px;
    }
  }
}
