@use 'vars' as var;

.popup-wrapper {
  width: 100vw;
  height: 100vh;

  display: flex;

  background-color: #3333334d;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 10;

  visibility: hidden;

  opacity: 0;

  transition: 0.2s ease-in-out;

  &_opened {
    visibility: visible;

    opacity: 1;
  }
}

.popup {
  margin: auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;

  position: relative;

  &__close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    transform: scale(1.7);

    svg {
      pointer-events: none;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
  }

  &__info {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }

  &__img {
    max-width: 172px;
    margin: auto;
    display: block;

    transform: translateX(-24px);
  }

  &_success {
    padding: 118px 75px 122px;

    .popup__title {
      margin-top: 32px;
    }
  }

  &_order {
    .popup__title,
    .popup__info {
      max-width: 374px;
    }

    .popup__info {
      margin-top: 8px;
    }

    .contact__input {
      min-width: 564px;
      margin-top: 30px;
    }

    .primary-btn {
      margin-top: 30px;
      padding: 19px 35px;
    }
  }

  &_gallery {
    padding: 0;

    .controls {
      &__back,
      &__next {
        display: none;
      }
    }

    .item {
      &__img {
        padding: 50px 108px;
      }

      &__list {
        display: flex;
        padding: 20px 51px;
        background-color: var.$gray-light;
        border-radius: 0 0 10px 10px;
      }

      &__gallery-item {
        height: 126px;
        width: auto;
      }

      &__gallery-item-wrapper {
        &:not(:first-child) {
          margin-left: 78px;
        }
      }
    }
  }
}

@media screen and (max-width: 1340px) {
  .popup {
    &_gallery {
      padding-top: 50px;

      .controls {
        &__next,
        &__back {
          display: block;
          position: absolute;
          bottom: 67px;
        }

        &__next {
          right: 16px;
        }

        &__back {
          left: 16px;
        }
      }

      .item__img {
        max-width: 805px;
        padding: 0;
        margin: auto;
        display: block;
        margin-bottom: 50px;
      }

      .item__list {
        padding: 20px 67px;
      }

      .item__gallery-item {
        height: 126px;
      }

      .item__gallery-item-wrapper {
        &:first-child {
          display: none;
        }

        &:nth-child(2) {
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 999px) {
  .popup {
    &_gallery {
      .item__img {
        max-width: 583px;
      }

      .item__list {
        padding: 20px 79px;
      }

      .item__gallery-item-wrapper {
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 999px) {
  .popup {
    &__close-btn {
      transform: none;
      top: 16px;
      right: 16px;
    }

    &_success {
      padding: 60px 51px;

      .popup {
        &__img {
          max-width: 73px;
          transform: translateX(-11px);
        }

        &__title {
          font-size: 16px;
          max-width: 194px;
          text-align: center;
          margin-top: 11px;
        }
      }
    }

    &_order {
      padding: 30px 16px;

      .popup__title {
        font-size: 24px;
      }

      .popup__info {
        max-width: 260px;
      }

      .contact__input {
        min-width: 264px;
        margin-top: 16px;
      }

      .contact__user-agree {
        font-size: 12px;
        line-height: 16px;
      }

      .primary-btn {
        margin-top: 16px;
      }
    }

    &_gallery {
      padding-top: 32px;

      .item__img {
        max-width: 264px;
        margin-bottom: 32px;
      }

      .item__list {
        padding: 16px 62px;
      }

      .controls {
        &__back,
        &__next {
          bottom: 43px;
        }
      }

      .item__gallery-item-wrapper {
        &:nth-child(4) {
          display: none;
        }
      }

      .item__gallery-item {
        height: 86px;
      }
    }
  }
}
