$black: #333;
$gray: #999;
$gray-light: #f6f6f6;
$gray-shade: #666;
$disabled: #eaeaea;
$primary: #a65cf0;
$primary-light: #c998fb;
$primary-shade: #7033ac;
$pink-violet: #ebd1ff;
$secondary: #ff862f;
$input-hover: #eaeaea;
